venv/
*.png
*.pdf
__pycache__/
.venv_311
.venv


# frontend/.gitignore
node_modules/
.cache/
dist/
*.local
.DS_Store
backend/data/*
backend/venv/

#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

#118.25.92.108
