venv/
*.png
*.pdf
__pycache__/
.venv_311
.venv


# frontend/.gitignore
node_modules/
.cache/
dist/
*.local
.DS_Store
backend/data/*
backend/static/pdf2pngs/*
backend/weights/PP-DocLayout-M
backend/weights/PP-DocLayout_plus-L

#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

#118.25.92.108
